<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="YTSConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\\Projects\\.Net\\YifyFileDownloader\\Resources\\Database\\yts.mdf;Initial Catalog=ytsmoviesdb;Integrated Security=True;Connect Timeout=30" providerName="Microsoft SqlClient Data Provider for SQL Server" />
  </connectionStrings>

  <appSettings>
    <!--serilog-->
    <add key="serilog:minimum-level" value="Info"/>
    <add key="serilog:using:File" value="Serilog.Sinks.File" />
    <add key="serilog:write-to:File.path" value="Logs\log.txt" />
    <add key="serilog:write-to:File.shared" value="true" />
    <add key="serilog:write-to:File.rollOnFileSizeLimit" value="true" />
    <add key="serilog:write-to:File.fileSizeLimitBytes" value="4000" />
    
    <!--api settings-->
    <add key="Endpoint" value="https://yts.mx/api/v2/list_movies.json"/>
  </appSettings>
</configuration>