<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="YTSConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=\\Resources\\Database\\yts.mdf;Initial Catalog=ytsmoviesdb;Integrated Security=True;Connect Timeout=30" providerName="Microsoft SqlClient Data Provider for SQL Server" />-->
    <add name="YTSConnectionString" connectionString="Data Source=C:\SqlLite\ytsdb.db;" providerName=".NET Framework Data Provider for OLE DB" />
  </connectionStrings>

  <appSettings>
    <!--serilog-->
    <add key="SerilogMinimumLevel" value="Information"/>
    <add key="SerilogUsingFile" value="Serilog.Sinks.File" />
    <add key="SerilogFilePath" value=".\\Logs\\log.txt" />
    <add key="SerilogFileShared" value="true" />
    <add key="SerilogRollOnFileSizeLimit" value="true" />
    <add key="SerilogRollingInterval" value="Day" />
    <add key="SerilogFileSizeLimitBytes" value="16777216" />
    
    <!--api settings-->
    <add key="Endpoint" value="https://yts.mx/api/v2/list_movies.json"/>
    <add key="Qualities" value="1080p,720p"/>
    <add key="Page" value="235"/>
    <add key="SleepMilliseconds" value="5000"/>
  </appSettings>
</configuration>